h3 {
  background: linear-gradient(to bottom right, red, yellow);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  font-size: x-large;
}

.cookieBtn {
  max-height: 20rem;

  border-radius: 30%;
  background-color: transparent;
  color: transparent;
}
